body{
    background-color: #E4F5FC;
    background-image: url("./images/fond_nuages.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    font-family: 'Catamaran','Calibri';
}

.navbar{
    padding-left:3%;
    padding-right:3%;
    /* From https://css.glass */
    background: rgba(18, 61, 87, 0.75) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(18, 61, 87, 0.2);
    height: 12%;
}

.little-title{
    font-size:200%;
}
.links{
    text-decoration:none;
    color: white;
    font-size: 22px;
    position: relative;
}
.subLine
{
    width: 40%;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 14px;
    color: black;
}


.links:hover{
    font-weight:bold;
    color:white;
}

.titre{
    color:#304F9B;
    margin-top:6%;
}


h2{
    margin-top:1%;
    margin-left: 4.5%;
}

h3{
    color:#304F9B;
    font-size: 300%;
    font-weight:bold;
    margin:0;
}

.bouton{
    margin-left:4.5%;
}

#presentation{
    width:70%;
    margin: 0 auto;
    background-color: aliceblue;
    margin-top:3%;
    border-radius: 15px ;
}

.presentContent{
    padding: 4%;
}
hr{
    height: 5px;
    background-color: #323552;
}

.centre{
    display: flex;
    justify-content: center;
}

.image_avion{
    margin-top:13%;
    margin-bottom: 2%;
}

.img_pres{
    width:40%;
    height:40%;
}

.img_sujets{
    width:70%;
}
.objectif{
    padding-left:20%;
    padding-right: 20%;
}

.photos_membres {
    width: 45%;
    border-radius: 100%;
}
.photos_membres2 {
    width: 60%;
    border-radius: 100%;
}

.ligne_membres{
    padding-left: 10%;
    padding-right: 10%;
}
.ligne_membres2 {
    padding-left: 15%;
    padding-right: 15%;
}

.img_plan_vert{
    width: 100%;
}

.planning{
    width:100%;
}

.livrable{
    text-decoration: none;
}

.potit_chat{
    width: 35%;
}
.linkPlane i::before{
    opacity: 0;
    position: absolute;
    line-height: inherit;
    right:10em;
    bottom: 0;
    transition: all .6s ease;
}
.linkPlane:hover > i::before{
    opacity: 1;
    position: absolute;
    line-height: inherit;
    right: -28px;
    bottom: 0;
}